



<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">
      Upload a Photo
    </div>
    <div class="card-body">
      <form (submit)="uploadPhoto(title, description)">
          <div class="form-group">
             <input type="text" class="form-control" placeholder="Photo's title" required #title >
          </div>
          <div class="form-group">
            <textarea  rows="5" class="form-control" placeholder="Photo's Description" required #description></textarea>
          </div>

          <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
          <img [src]="photoSelected || 'assets/images/no-image.png'" alt="no imagen" style="width: 40%;" (click)="photoInput.click()">
          <!--Lo que hace es que cuando se clickee la imagen, va al input que tiene el ide photInput y hace la
          función .click() ; entonces ese Input reacciona a ese click y se activa change que llama al método
        onPhotoSelected y le pasa el evento al que está suscrito-->
<br>
            <button class="btn btn-primary btn-block">
                Upload
            </button>
      </form>
    </div>
  </div>
</div>
